.container
{
   height: 250px;
   width: 100%;
   margin: 10px;
   background-color: blue;
   display: flex;
   justify-content: space-evenly;
}
.child
{
    height: 200px;
    margin: 10px;
    display: flex;
}
img{
    height: 100%;
    width: 100%;
    display: flex;
}
.container2
{
   height: 250px;
   width: 100%;
   margin: 10px;
   background-color: yellow;
   display: flex;
   justify-content: space-evenly;
}
.child1
{
    height: 200px;
    width: 20%;
    margin: 10px;
    background-color: darkslategrey;
    display: flex;
}